html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

.nav__list li {
  position: relative;
  padding: 0;
}

.nav__list li a::after {
  content: " ";
  background-color: var(--decorationRed);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.15s;
}

.nav__list li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.servicios__card,
.about-us__card,
.submit {
  transition: 0.3s ease-out;
}

.servicios__card:hover,
.about-us__card:hover,
.submit:hover {
  transform: scale(1.07);
}

/* ANIMACIÓN EN LOGIN Y SIGNUP */
@keyframes size {
  to {
    transform: scale(1.1);
  }
}

.signup h1,
.logging h1 {
  animation: size 0.4s linear forwards;
}
