@media (max-width: 992px) {
  header {
    width: 100vw;
  }

  .nav__list {
    background: rgb(0, 0, 0);
    width: 100%;
    left: 0;
    position: absolute;
    top: 75px;
    flex-direction: column;
    display: none;
    border-bottom: 2px solid var(--decorationRed);
    padding: 45px 45px;
  }

  .nav i {
    display: block;
  }

  #toggle-menu:checked ~ .nav__list {
    display: flex;
  }

  #hero img {
    display: none;
  }

  .hero__info {
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .hero__info h1,
  .hero__info p {
    text-align: center;
  }

  .hero__info h1 {
    font-size: 30px;
  }

  #about-us h2,
  #servicios h2,
  #registro h2 {
    align-self: center;
  }

  .about-us__card,
  .servicios__card {
    width: 250px;
  }

  #socios {
    display: none;
  }

  #registro p {
    width: 90%;
    text-align: center;
  }

  #contacto form {
    display: flex;
    flex-direction: column;
  }

  .footer__top {
    flex-direction: column;
    gap: 30px;
  }

  .suscribe {
    display: none;
  }

  .footer__logo {
    max-width: 130px;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 576px) {
  header {
    justify-content: space-between;
    padding: 0 40px;
  }

  .hero__info {
    width: 100%;
  }

  #about-us h2,
  #servicios h2,
  #registro h2 {
    text-align: center;
  }

  #contacto {
    flex-direction: column;
  }

  #contacto h2 {
    width: 80%;
    text-align: center;
  }

  .campo {
    gap: 5px;
  }

  .footer__bottom h3 {
    text-align: center;
  }

  /* /// LOGGING - SINGUP /// */
  .logging__container,
  .signup__container {
    width: 350px;
  }
}

@media (max-width: 360px) {
  .hero__info h1,
  .hero__info p {
    width: 100%;
  }

  #about-us h2,
  #servicios h2,
  #registro h2 {
    font-size: 1.5rem;
  }

  #registro p {
    font-size: 18px;
  }

  .social {
    display: none;
  }
}
