@media (max-width: 992px) {
  header {
    width: 100vw;
  }

  .nav__list {
    background: rgb(0, 0, 0);
    width: 90%;
    position: absolute;
    top: 75px;
    right: 5%;
    left: 5%;
    flex-direction: column;
    display: none;
    border: 2px solid var(--decorationRed);
    border-top: 0;
    padding: 45px 45px;
    border-radius: 0px 0px 15px 15px;
  }

  .nav i {
    display: block;
  }

  #toggle-menu:checked ~ .nav__list {
    display: flex;
  }

  #hero img {
    display: none;
  }

  .hero__info {
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .hero__info h1,
  .hero__info p {
    text-align: center;
  }

  .hero__info h1 {
    font-size: 30px;
  }

  #about-us h2,
  #servicios h2,
  #registro h2 {
    align-self: center;
  }

  .about-us__card__container,
  .servicios__card__container {
    flex-direction: column;
  }

  #socios {
    display: none;
  }

  #registro p {
    width: 50%;
    text-align: center;
  }

  .footer__logo {
    width: 25%;
  }
}

@media (max-width: 576px) {
  #contacto {
    flex-direction: column;
  }

  #contacto h2 {
    width: 80%;
    text-align: center;
  }

  .suscribe {
    display: none;
  }
}
