@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Poppins:wght@300;400;600;700;800;900&display=swap");

:root {
  --bgGray: #202020;

  --decorationRed: rgb(79, 15, 21);
  --decorationPurple: #391045;

  --textWhite: #f3f4f6;
  --textGray: #adb9c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

/* /// HEADER /// */
header {
  background: rgb(0, 0, 0);
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  box-shadow: 0px 2px 15px 0px var(--decorationRed);
  z-index: 1;
}

/* NAVBAR */
.header__logo {
  height: 50px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.nav__item a {
  color: var(--textWhite);
}

.nav__item--active a {
  color: var(--textWhite);
  font-weight: 800;
}

/* /// MAIN /// */
main {
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* HERO */
#hero {
  margin-top: 75px;
  padding: 80px 0;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: 20px;
}

.hero__info h1 {
  color: var(--textWhite);
  font-weight: 800;
  width: 80%;
  font-size: 50px;
}

.hero__info p {
  color: var(--textGray);
  width: 70%;
}

.button {
  color: var(--textWhite);
  background-color: var(--decorationPurple);
  box-shadow: 0px 0px 20px -3px var(--decorationPurple);
  padding: 8px 12px;
  border-radius: 8px;
}

.hero__img {
  border-radius: 20px;
  box-shadow: 0px 0px 55px -3px var(--decorationPurple);
}

/* ABOUT-US */
#about-us {
  padding: 80px 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

#about-us h2,
#servicios h2,
#registro h2 {
  color: var(--textWhite);
  font-size: 2rem;
  font-weight: 800;
  border-bottom: 2px solid var(--decorationPurple);
  align-self: flex-start;
}

.about-us__card__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 60px;
}

.about-us__card {
  background: var(--bgGray);
  box-shadow: 0px 0px 32px 0 var(--decorationRed);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card img {
  border-radius: 10px;
}

.card h3 {
  color: var(--textWhite);
  text-align: center;
}

.card p {
  color: var(--textGray);
  text-align: center;
  font-size: 14px;
}

/* SERVICIOS */
#servicios {
  padding: 80px 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.servicios__card__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px;
}

.servicios__card {
  background: var(--bgGray);
  box-shadow: 0px 0px 32px 0 rgba(255, 255, 255, 0.185);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.servicios__card img {
  border-radius: 10px;
}

.servicios__card h3 {
  color: var(--textGray);
  text-align: center;
}

/* REGISTRO */
#registro {
  padding: 80px 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#registro p {
  color: var(--textWhite);
  font-size: 1.5rem;
}

.registro__button {
  display: flex;
  gap: 25px;
}

#registro img {
  width: 150px;
}

/* SOCIOS */
#socios {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(57, 16, 69, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socios__info {
  padding: 30px 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--textWhite);
}

.socios__logo {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.socios__logo img {
  height: 70px;
}

/* CONTACTO */
#contacto {
  margin-top: 80px;
  padding: 80px 40px;
  width: 1200px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(57, 16, 69, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

#contacto h2 {
  width: 30%;
  color: var(--textWhite);
  font-size: 1.5rem;
  border-bottom: 2px solid var(--decorationRed);
}

#contacto form {
  background: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  width: 400px;
  padding: 60px 30px;
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: space-between;
  gap: 10px;
  z-index: 1;
}

#contacto form :nth-child(5) {
  grid-column: 1 / span 2;
}

.campo,
.campo-login,
.campo-signup {
  display: flex;
  flex-direction: column;
}

.campo label,
.campo-login label,
.campo-signup label {
  color: var(--textGray);
  font-weight: 500;
}

.campo input,
.campo-signup input {
  height: 30px;
  border-radius: 10px;
}

.submit {
  margin-top: 20px;
  background: var(--decorationPurple);
  box-shadow: 0px 0px 20px -3px var(--decorationPurple);
  color: var(--textWhite);
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* /// FOOTER /// */
footer {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 90%,
    rgba(79, 15, 21, 1) 100%
  );
  width: 100%;
  padding: 40px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer__top {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: var(--textWhite);
}

.footer__logo {
  width: 150px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social__links {
  display: flex;
  flex-wrap: wrap;
}

.social__links a {
  padding: 10px 20px;
  color: var(--textGray);
  font-size: 14px;
}

.suscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.suscribe h3 {
  font-size: 16px;
  font-weight: 400;
}

.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer__bottom h3 {
  color: var(--textGray);
  font-size: 14px;
  font-weight: 300;
}

.footer__bottom a {
  color: var(--textGray);
  font-size: 14px;
}

/* /// LOGGING - SIGNUP ///*/
.logging,
.signup {
  background: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.logging h1,
.signup h1 {
  color: var(--textWhite);
  font-size: 2rem;
  font-weight: 800;
  border-bottom: 2px solid var(--decorationRed);
}

.logging__container,
.signup__container {
  width: 400px;
  padding: 50px 30px;
  background: var(--bgGray);
  box-shadow: 0px 0px 32px 0 rgba(255, 255, 255, 0.185);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
  box-shadow: 0px 0px 32px 0 rgba(255, 255, 255, 0.185);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.campo-login input {
  height: 30px;
  border-radius: 10px;
  width: 300px;
}

.signup__container form {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: space-between;
  gap: 10px;
}

.signup__container form :nth-child(5),
.signup__container form :nth-child(4),
.signup__container form :nth-child(3) {
  grid-column: 1 / span 2;
}

.signup__container form p,
.signup__container form a {
  color: var(--textGray);
  font-size: 12px;
}
